.row {
    color: white;
    margin-left: 20px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

/*tell all the browser do not display scroll bar but keep functionality*/
.row__posters::-webkit-scrollbar {
    display: none; 
}

.row__poster {
    object-fit: contain; /*keeps the aspect ratio*/
    width: 100%;
    max-height: 250px;
    transition: transform 450ms;
    margin-right: 10px;
}

.row__poster:hover {
    transform: scale(1.09);
}